body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 .container {
       color: rgb(53, 52, 52);
       Alignment: justify
       disp
       height:80px;
       margin-bottom:0px;
       margin-left:97px;
       margin-right:97px;
       margin-top:0PX;
       padding-left:30px
       padding-top:30px;
       width:750px;
     
    }
       